:root{
    --main-color : rgb(55, 81, 126);
}

.hero-section{
    background-color: var(--main-color);
}

.navbar a{
    color: white !important;
}

.dropdown-menu a{
    color: black !important;
}

.animate-image{
    animation: move 2s linear infinite alternate;
}

@keyframes move {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-20px);
    }
}

.text-blue{
    color: var(--main-color) !important;
}

.gray-line{
    width:160px;
    height:2px;
    background-color: lightgray;
    margin:auto;
}

.blue-line{
    width:60px;
    height:3px;
    background-color: var(--bs-info);
    margin:auto;
}

.bg-blue{
    background-color: var(--main-color) !important;
}

.work-card{
    overflow:hidden;
}

.content{
    z-index: 111;
}
.work-card img{
    transition: all 0.4s;
}

.work-card:hover img{
    transform:scale(1.1);
   
}

.work-card:hover .content{
    transform:translateY(-20px);
}

.work-card .content{
    transition:all 0.4s;
}

.image-section{
    background:linear-gradient(to right, rgba(55, 81, 126, 0.5), rgba(55, 81, 126, 0.7)), url('https://bootstrapmade.com/content/demo/Arsha/assets/img/bg/bg-8.webp'); 
}

.img-animate{
    overflow: hidden;
    cursor:pointer;
}

.img-overlay{
    transition:all 0.4s;
    transform:translateY(100px);
    background-color: rgba(255, 255, 255, 0.85);
}

.img-animate:hover .img-overlay{
    transform:translateY(0);
}

